* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color: #212121;
  font-size: 1.5em;
}
.container {
  background: #e6e7be;
  text-align: center;
  height: 95vh;
}

.quote-wrapper {
  background: #212121;
  height: 40%;
  width: 60%;
  max-width: 600px;
  margin: 10% auto;
  position: relative;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0 2px 5px 2px rgba(0,0,0,.2);
}

button {
  position: absolute;
  bottom: 10;
  left: 50%;
  height: 30px;
  width: 120px;
  margin-left: -60px;
}


footer {
  background: #212121;
  color: #FFFFE0;
  text-align: center;
  position: relative;
  font-size: small;
  width: 100%;
  margin: 0 auto;
  bottom: 0;
}
footer p {
  margin: 0;
  padding: 0;
}
